.gradle
.idea
__pycache__
*.pyc
*.iml
*.class
build
out
MiraiBot/config
MiraiBot/libs/mirai-core-*-EA*.jar
script/docker/env/files/complexbot.yml
script/docker/env/files/system.yml
script/docker/python/files/backend/
